<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="demo"
       parallel="false">
<test thread-count="5" name="test">
	<classes>
		<class name="co.seleniumproject.testPackage.TestCaseClass">
		<methods>
		<include name="returnTicket" />
		<include name="validateCredentials" />
		</methods>
		</class>
	</classes>
</test>
</suite>